body {
  background-color: #2b2c3a !important;
  background: url('./assets/bg-main.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}

* {
  font-family: 'Poppins', sans-serif !important;
}

.custom button {
  background-color: #f3a558 !important;
}

.bg-nav {
  background: #fdc99c;
}

.style-color h2 {
  color: #fff;
}

.style-color div,
.style-color a div {
  font-weight: 600;
}

.custome-line a {
  border: 1px solid #2b2c3a;
  color: #2b2c3a;
  font-weight: 600;
}

.block-pool div,
.block-pool a,
.block-pool span {
  color: #2b2c3a !important;
}

div.line {
  border-color: #fff;
}

.table-color + tr span,
.table-color + tr div .line {
  color: #fff !important;
}

input:focus {
  box-shadow: none !important;
}

.column-sl div span div {
  color: #fff;
}

.padding-0 {
  padding: 24px 0 !important;
}

.style-position:hover {
  opacity: 1 !important;
}

.style-position button {
  background: #292a36;
  border: 2px solid #47495a;
  position: absolute;
  left: 20px;
  top: 123px;
  z-index: 99;
}

.style-position button:hover {
  border: 2px solid #47495a;
  position: absolute;
  left: 20px;
  top: 123px;
  opacity: 1 !important;
  background: rgb(41 41 41);
  z-index: 99;
}

.custome-icon {
  background-color: #444444;
  border-radius: 5px;
}

.custom-bg {
  border: 1px solid #3e3f48 !important;
  background-color: #2b2c3a !important;
}

#swap-currency-input img {
  width: 34px !important;
  height: 34px !important;
  margin-top: -3px;
}

#swap-currency-input button:focus {
  background-color: transparent;
}

.nav-swap + div {
  padding: 0;
}

.nav-swap a {
  background-color: transparent;
  box-shadow: none;
}

#token-search-input {
  border-radius: 6px !important;
  border-width: 1px !important;
  border-color: transparent !important;
  background: linear-gradient(90deg, #161522, #161522), linear-gradient(90deg, #f5c606, #29f4c4) !important;
  background-clip: padding-box, border-box !important;
  background-origin: padding-box, border-box !important;
}

.title-select {
  font-size: 21px !important;
  font-weight: 700 !important;
}

.box-list-token div div div div:hover {
  background-color: #f5c606;
}

.box-list-token svg {
  color: #fff;
}

.box-list-token svg path {
  color: #fff;
}

.sc-dlnjwi.ekZheJ {
  background: #00a7e1;
}

.style-color + div div div:hover,
.style-color:hover,
.style-color:focus {
  background-color: #444444 !important;
}

.style-color a svg {
  width: 20px;
}

.button-h {
  background-color: #f5c606 !important;
  border-radius: 6px !important;
}

.btn-supply {
  background-color: #f5c606 !important;
  color: #2b2e2f !important;
  border-radius: 6px !important;
}

.nav-tabs {
  border-bottom: 0 !important;
  margin-bottom: 40px !important;
}

.nav-tabs .nav-link {
  font-size: 22px;
  font-weight: 600;
}

.nav-link {
  color: #979797 !important;
}

.nav-tabs .nav-link:hover {
  border-color: transparent !important;
}

.nav-tabs .nav-link.active {
  color: #fff !important;
  background-color: transparent !important;
  border-color: transparent !important;
  border-bottom: 2px solid #fff !important;
}

button.btn-blue {
  background-color: #f5c606;
  color: #2b2e2f !important;
}

@media (max-width: 768px) {
  .list-menu {
    z-index: 99;
  }

  .ant-carousel .slick-slide img {
    min-height: 116px;
  }
}

input.input-search {
  box-shadow: none;
  border: 1px solid #444444;
}

.btn-max {
  position: absolute;
  right: 15px;
  z-index: 9;
  border-radius: 6px !important;
  padding: 0 10px !important;
  min-height: 37px;
  background: -webkit-linear-gradient(#f5c606, #29f4c4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.modal-dialog .modal-content {
  background: rgb(41 41 41);
  box-shadow: 0px 0px 11px 0px rgb(29 26 26 / 57%);
}

.modal-dialog .modal-content .modal-header {
  border-bottom: transparent;
  justify-content: flex-end;
  padding: 1rem 1rem 0;
}

.modal-dialog .modal-footer {
  justify-content: center;
}

.modal-dialog .modal-footer button {
  width: 100%;
  max-width: 156px;
  font-weight: 600;
}

.modal-dialog .modal-footer .btn-primary {
  background-color: #f5c606;
}

.modal-dialog .modal-footer .btn-secondar {
  background-color: #2e3f52;
}

.border-none {
  box-shadow: none !important;
}

/* .ant-carousel .slick-slide img {
  height: 350px;
} */

.modal-header button.close {
  background: #cecece;
  outline: none;
  border: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.modal-header button.close span {
  font-size: 27px;
}

button.button-connect {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column-reverse;
  height: auto;
  padding: 0;
  background-color: transparent !important;
}

button.button-connect:hover {
  transition: 1s;
}

@keyframes scaleIn {
  from {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }
  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}

.custom-btn a#join-pool-button {
  background-color: #f5c606;
  color: #2b2e2f !important;
  margin-top: 15px;
}

.bot-btn {
  display: flex;
  justify-content: center;
}

.bot-btn button {
  background-color: #f5c606;
  max-width: 340px;
  width: 100%;
}

.bot-btn #swap-button {
  background-color: #f5c606;
  color: #2b2e2f !important;
}

.custom-btn-farm button {
  background-color: #f5c606;
}

.menu-button:hover {
  color: #ffdb4a !important;
}

.icon-new a,
.icon-hot a {
  position: relative;
}

.icon-new a:before,
.icon-hot:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 57px;
  background: url('https://luckyswap.finance/images/new.svg');
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  animation: 2s linear 0s infinite normal forwards running fadeinout;
  opacity: 0;
}

.icon-hot {
  position: relative;
}

.icon-hot:before {
  background: url('https://luckyswap.finance/images/icon-hot.png');
  width: 60px;
  height: 60px;
  background-size: cover;
  left: 137px;
  top: -26px;
  animation: unset;
  opacity: 1;
}

.not-allow > a {
  cursor: not-allowed !important;
}

.not-allowed[role='button'],
.not-allowed + div a {
  cursor: not-allowed !important;
}

@keyframes fadeinout {
  from {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.logo-mobile {
  max-width: 40px;
  margin-right: 10px;
}

.custom-btn {
  height: 40px !important;
  line-height: 36px !important;
  padding: 0 5px 0 16px !important;
}

.color-dark {
  color: #2b2e2f !important;
}

button.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: '';
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  position: absolute;
  top: 47%;
  right: -4px;
  transform: translate(-50%);
}

button.btn-secondary {
  background-color: transparent;
  border-color: transparent;
}

button.btn-secondary:hover {
  background-color: transparent !important;
  border-color: transparent !important;
}

button.btn-secondary.dropdown-toggle:focus {
  box-shadow: none !important;
}

.btn-check:active + .btn-secondary,
.btn-check:checked + .btn-secondary,
.btn-secondary.active,
.btn-secondary:active,
.show > .btn-secondary.dropdown-toggle {
  background-color: transparent !important;
  border-color: transparent !important;
}

@media (max-width: 768px) {
  .rm-margin {
    margin-right: 5px !important;
  }

  .space-input {
    margin-top: 10px;
  }
}

.bg-yellow {
  background-color: #f3c111 !important;
  color: #333333 !important;
}

.border-yellow {
  border: 1px solid #f3c111 !important;
  background-color: transparent !important;
  color: #f3c111 !important;
}

.no-border {
  border-top: none !important;
  background-color: #1d1d1d;
  border-radius: 17px;
}

.box-lucky h2 {
  font-size: 40px;
  color: #f3c111;
}

.style-color button[aria-label] {
  display: none;
}

.modal-setting {
  padding: 0 24px 15px !important;
}

.modal-setting div:nth-child(2) {
  padding: 0;
}



/*=====Animation Astronaut======*/

.element {
  transform: rotateY(40deg);
  animation: two 2s infinite;
  animation-direction: alternate;
}

@keyframes two {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(70deg);
  }
}
