body {
  background-color: #2b2c3a !important;
  background: url('https://luckyswap.exchange/images/bg-main.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}

* {
  font-family: 'Prompt', sans-serif !important;
}

.custom button {
  background-color: #f3a558 !important;
}

/* .style-color a div,
.style-color div,
.style-color + div div {
  color: #2b2c3a;
} */
/* 
.style-color svg,
.style-color a svg {
  fill: #2b2c3a !important;
}

svg {
  fill: #2b2c3a !important;
} */

/* button div,
button + div button,
a div {
  color: #2b2c3a !important;
} */

.bg-nav {
  background: #fdc99c;
}

/* .nav-swap > div {
  background: #fdc99c;
} */

.style-color h2 {
  color: #fff;
}
/* 
#swap-page button {
  color:#fff;
} */

/* .nav-swap #swap-nav-link {
  background-color: #2b2c3a;
  box-shadow: 0px -1px 0px 0px rgb(248 133 32) inset;
} */

.custom-btn-farm button {
  background-color: #1890ff;
}

.custom-btn a,
.custom-btn button {
  background-color: #1890ff;
}

.custom-btn {
  margin-top: 40px;
}

.custom-btn a:hover {
  color: #fff;
}

#swap-page .bot-btn button {
  background: #1890ff4d;
  color: #fff;
  border-radius: 20px;
  width: 100%;
}

.nav-swap .dMJnFj {
  background-color: #2b2c3a;
}

.custom-bt .etICQo {
  background-color: #2b2c3a;
}

.custom-bt > div {
  background: #9f9fa7;
}

.custom-bt > div a {
  color: #fff;
}

.list li {
  color: #2b2c3a;
}

.custom-cl button {
  color: #2b2c3a;
}

/* .color-orange,
a.style-color {
  color: #2b2c3a !important;
} */

/* .color-orange span svg {
  fill: #2b2c3a !important;
} */

.custome-line a {
  border: 1px solid #2b2c3a;
  color: #2b2c3a;
}

.block-pool div,
.block-pool a,
.block-pool span {
  color: #2b2c3a !important;
}

div.line {
  border-color: #2b2c3a;
}

.table-color div,
.table-color + tr span,
.table-color + tr div {
  color: #fff !important;
}

/* input::placeholder {
  color: #ffffff !important; // 
} */

input:focus {
  box-shadow: none !important;
}

/* .style-color div {
  color: #2b2c3a !important;
} */

/* .style-color svg {
  fill: #2b2c3a !important;
} */

/* a svg {
  color: #2b2c3a !important;
}

svg {
  fill: #2b2c3a;
} */

.column-sl div span div {
  color: #fff;
}

/* a#swap-nav-link,
a#pool-nav-link {
  height: 48px !important;
  background: transparent;
} */

/* a#swap-nav-link {
  border: 1px double transparent !important;
  border-radius: 0.375rem !important;
  background-image: linear-gradient(#202231, #202231), linear-gradient(90deg, #00a7e1, #29f4c3) !important;
  background-origin: border-box !important;
  background-clip: padding-box, border-box !important;
} */

.padding-0 {
  padding: 24px 0 !important;
}

/* .style-position {
  position: relative;
} */

.style-position:hover {
  opacity: 1 !important;
}

.style-position button {
  background: #292a36;
  border: 2px solid #47495a;
  position: absolute;
  left: 20px;
  top: 123px;
  z-index: 99;
}

.style-position button:hover {
  border: 2px solid #47495a;
  position: absolute;
  left: 20px;
  top: 123px;
  opacity: 1 !important;
  background: #333442;
  z-index: 99;
}

.custome-icon {
  background-color: #292a36;
  border-radius: 5px;
}

.custom-bg {
  border: 1px solid #3e3f48 !important;
  background-color: #2b2c3a !important;
}

#swap-currency-input img {
  width: 34px !important;
  height: 34px !important;
  margin-top: -3px;
}

#swap-currency-input button:focus {
  background-color: transparent;
}

.nav-swap + div {
  padding: 0;
}

#token-search-input {
  border-radius: 6px !important;
  border-width: 1px !important;
  border-color: transparent !important;
  background: linear-gradient(90deg, #161522, #161522), linear-gradient(90deg, #01a8e1, #29f4c4) !important;
  background-clip: padding-box, border-box !important;
  background-origin: padding-box, border-box !important;
}

.title-select {
  font-size: 21px !important;
  font-weight: 700 !important;
}

.box-list-token div div div div:hover {
  background-color: #1890ff;
}

.sc-dlnjwi.ekZheJ {
  background: #00a7e1;
}

.style-color + div div div:hover,
.style-color:hover,
.style-color:focus {
  background-color: #1b1c2d !important;
}

.button-h {
  background-color: #1890ff !important;
  border-radius: 6px !important;
}

.btn-supply {
  background-color: #00A7E1 !important;
  border-radius: 6px !important;
}

.nav-tabs {
  border-bottom: 0 !important;
  margin-bottom: 40px !important;
}

.nav-tabs .nav-link {
  font-size: 22px;
  font-weight: 600;
}

.nav-link {
  color: #979797 !important;

}

.nav-tabs .nav-link:hover {
  border-color: transparent !important;
}

.nav-tabs .nav-link.active {
  color: #fff !important;
  background-color: transparent !important;
  border-color: transparent !important;
  border-bottom: 2px solid #fff !important;
}

button.btn-blue {
  background-color: #1890ff;
}

@media (max-width: 768px) {
  .list-menu {
    z-index: 99;
  }

  .ant-carousel .slick-slide img {
    min-height: 150px;
    object-fit: cover;
  }
}

input.input-search {
  box-shadow: none;
  border: 1px solid #d7caec;
}

.btn-max {
  position: absolute;
  right: 10px;
  z-index: 9;
  border-radius: 6px !important;
  padding: 0 10px !important;
  min-height: 37px;
  background: -webkit-linear-gradient(#01A8E1,#29F4C4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.modal-dialog .modal-content {
  background-color: #333442;
}

.modal-dialog .modal-content .modal-header {
  border-bottom: transparent;
  justify-content: flex-end;
  padding: 1rem 1rem 0;
}

.modal-dialog .modal-footer {
  justify-content: center;
}

.modal-dialog .modal-footer button {
  width: 100%;
  max-width: 156px;
  font-weight: 600;
}

.modal-dialog .modal-footer .btn-primary {
  background-color: #01A8E1;
}

.modal-dialog .modal-footer .btn-secondar {
  background-color: #2E3F52;
}

.border-none {
  box-shadow: none !important;
}

.ant-carousel .slick-slide img {
  height: 350px;
}

.modal-header button.close {
  background: #cecece;
  outline: none;
  border: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.modal-header button.close span {
  font-size: 27px;
}