.ant-image-preview-mask {
  background-color: #333534;
}
.ant-modal-content {
  border-radius: 12px;
}
.ant-modal-header {
  border-radius: 12px 12px 0 0;
}
body {
  font-family: 'Poppins', sans-serif;
}
.ant-dropdown-menu {
  border-radius: 8px;
}
.ant-form-item .ant-input-number-handler-wrap {
  display: none;
}
